.BoardsContainer {
}

.BoardsWrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 16px;
	padding: 0 8px;
}

.BoardsWrapper:not(:last-child) {
	border-bottom: var(--border-bot);
}

.WrapperTitle {
	flex: 1 0 100%;
	margin-bottom: 12px;
	padding-left: 8px;
	color: var(--base-solid-1);
}
