* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	width: 100vw;
	height: 100vh;
	overflow-x: scroll;
	overflow-y: hidden;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--base-solid-0);
}

body.modal-open {
	overflow-x: hidden;
}

a,
button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

#root {
	width: 100%;
	height: 100%;
}

#main {
	width: 100%;
	height: 100%;
}

:root {
	--white: #ffffff;
	--grey: #f5f5f5;
	--black: #000000;
	--red: #e63946;
	--green: #02c39a;

	--blue0: #f4f5f7;
	--blue1: #ebecf0;
	--blue2: #6b778c;
	--blue3: #5e6c84;
	--blue4: #457b9d;
	--blue5: #325e79;
	--blue6: #172b4d;

	--blue7: #212530;
	--blue8: #323a49;
	--blue9: #171b22;
	--blue10: #1d3557;
	--blue11: #11161d;
	--blue12: #b7becc;
	--blue13: #1e212b;
	--blue14: #dfe0e4;

	--blue15: rgba(9, 30, 66, 0.13);
	--blue16: rgba(172, 187, 212, 0.13);

	--grey0: rgba(255, 255, 255, 0.25);
	--grey1: rgba(0, 0, 0, 0.05);
	--grey2: rgba(0, 0, 0, 0.1);
	--grey3: rgba(0, 0, 0, 0.3);
	--grey4: rgba(255, 255, 255, 0.1);
	--grey5: rgba(0, 0, 0, 0.6);
	--grey6: rgba(255, 255, 255, 0.2);

	--shadow-blue0: rgba(9, 30, 66, 0.04);
	--shadow-blue1: rgba(9, 30, 66, 0.08);
	--shadow-blue2: rgba(9, 30, 66, 0.25);
}

.transparent {
	--white: #ffffffe0;
	--blue1: #ebecf0d0;
	--blue7: #212530d0;
	--blue8: #323a49e0;
	--blue11: #11161dd0;
	--blue12: #b7beccd0;
}

body.light {
	--scroll-track: rgba(0, 0, 0, 0.075);
	--scroll-thumb: rgba(0, 0, 0, 0.3);

	--base-solid-0: var(--white);
	--base-solid-1: var(--black);

	--text-solid-0: var(--blue2);
	--text-solid-1: var(--blue3);
	--text-solid-2: var(--blue5);
	--text-solid-3: var(--blue6);
	--text-solid-4: var(--blue10);

	--bg-solid-0: var(--blue0);
	--bg-solid-1: var(--blue1);
	--bg-solid-2: var(--blue4);
	--bg-solid-3: var(--blue5);
	--bg-solid-4: var(--blue12);
	--bg-solid-5: var(--blue14);

	--btn-bg-0: var(--grey0);
	--btn-bg-1: var(--shadow-blue0);
	--btn-bg-2: var(--shadow-blue1);

	--border-bot: 1px solid var(--shadow-blue2);
	--border-bot-1: 1px solid var(--blue15);

	--input-bg: var(--grey1);
	--input-bg-2: var(--blue14);

	--shadow-0: 0 1px 0 var(--shadow-blue2);
	--shadow-1: 0 0 10px 0 var(--grey1);
	--shadow-2: 0 0 10px 0 var(--grey2);
	--shadow-3: 0 8px 16px -4px var(--shadow-blue2),
		0 0 0 1px var(--shadow-blue1);
	--shadow-4: 0 0 15px var(--grey5);
}

body.dark,
body:not(.light) {
	--scroll-track: rgba(255, 255, 255, 0.05);
	--scroll-thumb: rgba(255, 255, 255, 0.2);

	--base-solid-0: var(--blue8);
	--base-solid-1: var(--grey);

	--text-solid-0: var(--blue1);
	--text-solid-1: var(--blue2);
	--text-solid-2: var(--blue5);
	--text-solid-3: var(--blue1);
	--text-solid-4: var(--blue0);

	--bg-solid-0: var(--blue9);
	--bg-solid-1: var(--blue7);
	--bg-solid-2: var(--blue7);
	--bg-solid-3: var(--blue9);
	--bg-solid-4: var(--blue11);
	--bg-solid-5: var(--blue11);

	--btn-bg-0: var(--grey3);
	--btn-bg-1: var(--blue9);
	--btn-bg-2: var(--grey2);

	--border-bot: 1px solid var(--blue2);
	--border-bot-1: 1px solid var(--blue16);

	--input-bg: var(--grey2);
	--input-bg-2: var(--blue13);

	--shadow-0: 0 1px 0 var(--blue9);
	--shadow-1: 0 0 10px 0 var(--grey3);
	--shadow-2: 0 0 10px 0 var(--blue7);
	--shadow-3: 0 8px 16px -4px var(--blue7), 0 0 0 1px var(--blue9);
	--shadow-4: 0 0 15px var(--grey6);
}

*::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	background-color: var(--scroll-track);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb);
	border-radius: 10px;
}

pre {
	white-space: pre-wrap;
}
