.ListsContainer {
	display: flex;
	padding: 0 4px;
	height: 100%;
}

.NewListContainer {
	display: inline-flex;
	flex: 0 0 260px;
	justify-content: flex-start;
	align-self: flex-start;
	margin: 5px;
	padding-right: 10px;
	width: 260px;
}

.ButtonNewList {
	border: unset;
	outline: unset;
	cursor: pointer;

	display: flex;
	align-items: center;

	border-radius: 3px;
	padding: 10px 12px;
	width: 100%;
	min-height: 32px;

	background-color: var(--bg-solid-1);
	box-shadow: var(--shadow-1);

	font-size: 1rem;
	color: var(--base-solid-1);

	transition: all 0.1s ease-in 0s;
}

.ButtonNewList:hover {
	background-color: var(--base-solid-0);
}

.ButtonNewList svg {
	margin-right: 4px;
}
