.ImagesWrapper {
	padding-top: 12px;
}

/* ImagesHeader - START */
.ImagesHeader {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 8px;
}

.Title.MainTitle {
	flex: 1 0 40%;
}

.Title {
	margin: 4px 0 8px;
	padding: 0 8px;
	width: 100%;
	color: var(--base-solid-1);
}

/* SearchField - START */
.SearchField {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1 0 60%;
}

.SFInput {
	outline: unset;
	border: unset;
	border-radius: 3px;
	padding: 0 8px;
	background-color: var(--input-bg);
	width: 80%;
	height: 100%;
	color: var(--base-solid-1);
	transition: all 0.1s ease-in-out 0s;
}

.SFLabel {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: calc(20% + 8px);
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	color: var(--base-solid-1);

	visibility: visible;
	opacity: 0.5;
	transition: all 0.2s ease-in-out 0s;
}

.SFLabel svg {
	margin-right: 4px;
}

.SFInput:hover ~ .SFLabel {
	opacity: 1;
}

.SFInput:focus {
	width: 100%;
}

.SFInput:focus ~ .SFLabel,
.SFInput.Active ~ .SFLabel {
	visibility: hidden;
	opacity: 0;
}
/* SearchField - END */
/* ImagesHeader - END */

/* ImagesContainer - START */
.ImagesContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.FavoriteImagesWrapper,
.PreviousImagesWrapper,
.MainImagesWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0 100%;
	padding: 8px 0 12px;
}

.FavoriteImagesWrapper::after,
.PreviousImagesWrapper::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: var(--border-bot);
	box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.2);
	opacity: 0.5;
}

.Images {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}

.SingleImageWrapper {
	flex: 0 0 33.33333%;
	padding: 4px;
	position: relative;
}

.SingleImageInner {
	display: block;
	height: 100%;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: var(--shadow-0);
	transition: all 0.15s ease-in-out 0s;
}

.SingleImageWrapper:hover .SingleImageInner {
	transform: scale(1.05);
}

.SingleImageInner:active {
	transform: scale(0.95);
	transition: all 0.05s ease-in-out 0s;
}

.SingleImageInner img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.SingleImageInner.Current {
	box-shadow: 0 0 0 2px var(--text-solid-4);
}

.SingleImageInner.ImageUnset {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--base-solid-0);
	color: var(--base-solid-1);
	font-size: 2rem;
}

.FavoriteButton {
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 10;

	cursor: pointer;
	outline: unset;
	border: unset;
	background: unset;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	padding: 4px;
	color: var(--base-solid-1);
	opacity: 0;
	transition: all 0.2s ease-in-out 0s;
}

.FavoriteButton:hover,
.FavoriteButton.IsFavorite {
	background-color: var(--blue11);
	color: var(--green);
	opacity: 1;
}

.FavoriteButton.IsFavorite:hover {
	transform: scale(1.2);
}

.SingleImageInner:hover ~ .FavoriteButton:not(:hover):not(.IsFavorite) {
	opacity: 0.5;
}
/* ImagesContainer - END */

.LoadingContainer {
	margin-top: 20px;
}
