.NavWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 42px;
	background-color: var(--bg-solid-1);
}

.NavWrapper + div {
	padding-top: 56px;
}

.NavContainer {
	flex: 0 0 auto;
	padding: 4px;
}

.Navbar {
	display: flex;
	list-style: none;
}

.Navitem + .Navitem {
	margin-left: 4px;
}

.Navlink {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid transparent;
	border-radius: 3px;
	padding: 6px 12px;
	background-color: var(--base-solid-0);
	color: var(--base-solid-1);
	transition: all 0.1s ease-in-out 0s;
}

.Navlink svg {
	margin-right: 6px;
}

.Navlink:hover,
.Navlink.Active {
	border-color: var(--green);
}