.ButtonToggle {
	outline: unset;
	border: unset;
	cursor: pointer;

	position: fixed;
	bottom: 30px;
	right: 20px;
	display: flex;

	padding: 12px;
	border-radius: 50%;
	background-color: var(--bg-solid-2);
	box-shadow: var(--shadow-2);

	font-size: 1.6rem;
	color: var(--grey);

	transition: all 0.2s ease-in 0s;
}

.ButtonToggle:hover {
	background-color: var(--bg-solid-3);
	transform: scale(1.1) rotate(90deg);
}

.ButtonClose {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 20px;
	display: flex;

	background: unset;
	border: unset;
	outline: unset;

	border-radius: 3px;
	padding: 5px;
	transition: all 0.1s ease-in 0s;

	font-size: 1.5rem;
	color: var(--base-solid-1);
}

.ButtonClose:hover {
	color: var(--text-solid-3);
	background-color: var(--btn-bg-2);
}