body {
	overflow: auto !important;
	width: auto !important;
	height: auto !important;
}

body.light {
	background-color: var(--grey);
}

body.dark {
	background-color: var(--bg-solid-1);
}

[class*="Navigation_NavWrapper"] {
	display: none !important;
}
