body.homepage {
	overflow: auto !important;
	width: auto !important;
	height: auto !important;
}

body.homepage.light {
	background-color: var(--grey);
}

body.homepage.dark {
	background-color: var(--bg-solid-1);
}

body.homepage [class*="Navigation_NavWrapper"] {
	display: none !important;
}
