.SingleListWrapper {
	flex: 0 0 250px;
	margin: 5px;
	height: fit-content;
}

.SingleList {
	position: relative;
	padding: 5px 0;
	border-radius: 3px;
	max-height: calc(100vh - 20px);
	background-color: var(--bg-solid-1);
	box-shadow: var(--shadow-1);
	transition: all 0.1s linear 0s;
}

.NotOwner {
	padding-bottom: 30px;
}

.SingleList.Dragging {
	transform: rotate(3deg);
}

.ListHeader {
	position: relative;
	margin: -4px 0;
	padding: 10px 36px 8px 10px;
	color: var(--base-solid-1);
}

.Name {
	padding: 4px 8px;
	font-weight: 600;
	cursor: pointer;
}

.SingleList:hover .Button {
	opacity: 1;
	visibility: visible;
}

.Button {
	opacity: 0;
	visibility: hidden;
	display: flex;
	border: unset;
	background: unset;
	outline: unset;
	font-size: 1rem;
	transition: all 0.1s ease-in 0s;
}

.Button svg {
	color: var(--text-solid-0);
}

.ButtonDelete {
	position: absolute;
	top: 6px;
	right: 10px;
	border-radius: 3px;
	padding: 5px;
}

.ButtonDelete:hover {
	color: var(--text-solid-3);
	background-color: var(--btn-bg-2);
}

.ButtonAdd {
	margin: 2px 0 8px 8px;
	padding: 4px 8px;
	border-radius: 3px;
	width: calc(100% - 13px);
	color: var(--text-solid-1);
}

.ButtonAdd svg {
	margin-right: 2px;
	color: var(--text-solid-1);
}
