.Backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--grey3);
	transition: all 0.2s ease-in-out 0s;
}

.Backdrop[class*="Backdrop-transition-enter"] {
	visibility: hidden;
	opacity: 0;
}

.Backdrop[class*="Backdrop-transition-enter-active"],
.Backdrop[class*="Backdrop-transition-enter-done"] {
	visibility: visible;
	opacity: 1;
}

.Backdrop[class*="Backdrop-transition-exit"] {
	visibility: visible;
	opacity: 1;
}

.Backdrop[class*="Backdrop-transition-exit-active"],
.Backdrop[class*="Backdrop-transition-exit-done"] {
	visibility: hidden;
	opacity: 0;
}

.ModalContainer {
	position: fixed;
	top: 0;
	right: 0;
	width: 400px;
	max-width: 95vw;
	height: 100%;
	overflow-y: scroll;
	padding: 20px;
	background-color: var(--bg-solid-1);
	box-shadow: var(--shadow-1);
	transition: all 0.2s ease-in-out 0s;
}

.ModalContainer[class*="ModalContainer-transition-enter"] {
	transform: translateX(100%);
	visibility: hidden;
	opacity: 0;
}

.ModalContainer[class*="ModalContainer-transition-enter-active"],
.ModalContainer[class*="ModalContainer-transition-enter-done"] {
	transform: translateX(0);
	visibility: visible;
	opacity: 1;
}

.ModalContainer[class*="ModalContainer-transition-exit"] {
	transform: translateX(0);
	visibility: visible;
	opacity: 1;
}

.ModalContainer[class*="ModalContainer-transition-exit-active"],
.ModalContainer[class*="ModalContainer-transition-exit-done"] {
	transform: translateX(100%);
	visibility: hidden;
	opacity: 0;
}
