.CommentContainer {
	border-radius: 3px;
	padding: 12px;
	background-color: var(--base-solid-0);
}

.CommentContainer + .CommentContainer {
	margin-top: 8px;
}

.CommentText {
	padding: 4px;
	color: var(--base-solid-1);
}
